body {
  height: 100% !important;
}

:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.card-text {
  text-align: center !important;
}

.card-img-top {
  height: 225px;
  color: white;
  width: 100%;
  display: block;
  text-align: center;
}

.misterv {
  margin-left: 90px;
  padding-bottom: 20px;
}

.lepers {
  margin-left: 60px;
  padding-bottom: 20px;
}
